BODY {
	FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; BACKGROUND-COLOR: #000
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; TEXT-DECORATION: underline
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt
}
ADDRESS {
	FONT-SIZE: 8pt; TEXT-ALIGN: right
}
A {
	COLOR: #ff6
}
TD {
	FONT-SIZE: 9pt; COLOR: #fff; FONT-FAMILY: "Trebuchet MS", Verdana, Helvetica, Geneva, Swiss, SunSans-Regular
}
.footnote {
	FONT-SIZE: 8pt; FONT-STYLE: italic; TEXT-ALIGN: left
}
